/* Classes */

.link{
    color: #CB429F;
}

.item{
    border-color: #D3C1D2;
}

/* IDs */

#navbar{
    background-color: #25283D;
}

#navbar-links{
    background-color: #25283D;
}


#about{
    margin-left: 2rem;
}

#projects{
    margin-left: 8rem;
}

#resumes{
    margin-left: 12rem;
}

#contact{
    margin-left: 16rem;
}

