/* Elements */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li button {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  /* padding: 10px 20px 10px 20px; */
  background-color: hsl(233, 24%, 19%);
  color: hsl(319, 57%, 53%);
  text-align: justify;
  border-color: hsl(303, 17%, 79%);
  min-width: 7em;
}

/* Classes */

.navbar {
  padding: 3%;
  background-color: hsl(233, 24%, 19%);
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1rem;
  grid-auto-flow: row;
  width: 100%;
  justify-content: center;
}

/* Psuedo Classes */

li button:hover {
  background-color: hsl(303, 17%, 79%);
  color: hsl(156, 23%, 34%);
  cursor: pointer;
}

/* if the class and the id are the same then it will change the buttom color for the active page */
.about #about, 
.projects #projects,
.resumes #resumes,
.contact #contact{
  background-color: hsl(3, 100%, 89%);
}


@media only screen and (min-width: 600px) {
  .navbar{
    grid-template-columns: repeat(2,1fr);

  }
}