/* Elements */

li {
    margin-left: 2.5em;
}

h3{
    margin: 0;
    margin-bottom: .25em;
}

/* Classes */

.resume-container {
    display: grid;
    justify-content: center;
}

.list-text {
    color: hsl(3, 100%, 89%);
    list-style-type: circle;

}

.headings {
    color: hsl(156, 23%, 34%);
}

/* IDs */

#title {
    color: hsl(303, 17%, 79%);
}
