/* Element */

img{
    align-items: left;
}

/* Classes */

.aboutme{
    color: hsl(3, 100%, 89%);
    text-align: center;
    margin: auto;
    padding:0%
    
}

.aboutme-text{
    margin: 0% 20%;
    display: grid;
    justify-content: space-evenly;
}
