/* Elelemts */

form ul li{
    margin: 10px;
}

/* Classes */

.form-container{
    display: flex;
    justify-content: center;
    color: hsl(3, 100%, 89%);
    width: 100%;
}

/* IDs */

#submit-button{
    padding: 8%;
    width: 100%;
    background-color: hsl(303, 17%, 79%);
    color: hsl(156, 23%, 34%);
}
