/* Classes */

.project-images{
    height: 250px;
    width: 250px;
}

.project-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    grid-auto-flow: row;
    width: 100%;
  justify-content: center;
}

.project-name{
    color: hsl(3, 100%, 89%);
}

.project-body a{
  color: hsl(319, 57%, 53%);
}

.item{
  text-align: center;
}

/* Media Query */
  @media only screen and (min-width: 900px) {
    .project-body{
    grid-template-columns: repeat(3,1fr);
    }
  }
