.footer{
    background-color: #25283D;
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.footer-link{
    color: #CB429F;
    font-size: large;
}


.footer-link:hover{
    color: hsl(319, 57%, 33%);
}

