.footer{
    background-color: #25283D;
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.footer-link{
    color: #CB429F;
    /* padding: 10em; */
    font-size: large;
}

/* i{
    color: #CB429F;
    font-size: 80px;
} */