/* Classes */
.footer{
    background-color: hsl(233, 24%, 19%);
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
    padding-top: 7em;
}

.footer-link{
    color: hsl(156, 23%, 54%);
}


.footer-link:hover{
    color: hsl(319, 57%, 33%);

}

