/* Elements */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

button {
  background-color: hsl(233, 24%, 19%);
  color: #CB429F;
  text-align: center;
  border-color: #D3C1D2;
}

li button {
  display: block;
  /* color: #000; */
  padding: 8px 16px;
  text-decoration: none;
}

/* Classes */

.navbar {
  padding: 3%;
  background-color: hsl(233, 24%, 19%);
  display: flex;
  justify-content: space-around;
}

/* Sub Classes */

li button:hover {
  background-color: hsl(303, 17%, 79%);
  color: white;
}


li button:active {
  background-color: aqua;
}