/* Elements */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

button {
  background-color: hsl(233, 24%, 19%);
  color: hsl(319, 57%, 53%);
  text-align: center;
  border-color: hsl(303, 17%, 79%);
}

li button {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

/* Classes */

.navbar {
  padding: 3%;
  background-color: hsl(233, 24%, 19%);
  display: flex;
  justify-content: space-around;
}

/* Psuedo Classes */

li button:hover {
  background-color: hsl(303, 17%, 79%);
  color: hsl(156, 23%, 34%);
  cursor: pointer;
}

/* if the class and the id are the same then it will change the buttom color for the active page */
.about #about, 
.projects #projects,
.resumes #resumes,
.contact #contact{
  background-color: hsl(3, 100%, 89%);
}
