/* Elements */

ul{
    margin-left: 15%;
}

li{
    list-style-type: circle;
}

/* Classes */

.list-text{
    color: #FFCCC9;
}

.headings{
    color: #426A5A;
}

/* IDs */

#title{
    color: #D3C1D2;
}